-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: joki_tabung
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `barang`
--

DROP TABLE IF EXISTS `barang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `barang` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_barang` varchar(100) NOT NULL,
  `deskripsi` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `nama_barang` (`nama_barang`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `barang`
--

LOCK TABLES `barang` WRITE;
/*!40000 ALTER TABLE `barang` DISABLE KEYS */;
INSERT INTO `barang` VALUES (1,'OXY 6m3','Oksigen Medis Besar','2026-05-21 08:58:12'),(2,'OXY 1m3','Oksigen Medis Kecil (Troli)','2026-05-21 08:58:12'),(3,'N2O','Nitrous Oxide','2026-05-21 08:58:12'),(4,'LPG 12kg','LPG Industri 12kg','2026-05-21 08:58:12'),(5,'LPG 50kg','LPG Industri 50kg','2026-05-21 08:58:12');
/*!40000 ALTER TABLE `barang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evaluasi`
--

DROP TABLE IF EXISTS `evaluasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evaluasi` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `relasi_id` int(11) NOT NULL,
  `tanggal` date NOT NULL,
  `status_lanjut` enum('lanjut','putus','negosiasi','tidak_ada_respon') NOT NULL,
  `catatan` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `relasi_id` (`relasi_id`),
  CONSTRAINT `evaluasi_ibfk_1` FOREIGN KEY (`relasi_id`) REFERENCES `relasi` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evaluasi`
--

LOCK TABLES `evaluasi` WRITE;
/*!40000 ALTER TABLE `evaluasi` DISABLE KEYS */;
INSERT INTO `evaluasi` VALUES (1,2,'2026-05-21','negosiasi','Sudah dihubungi via WA, klinik sedang renovasi jadi belum butuh refill.','2026-05-21 08:58:12');
/*!40000 ALTER TABLE `evaluasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gudang_transaksi`
--

DROP TABLE IF EXISTS `gudang_transaksi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gudang_transaksi` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tanggal` date NOT NULL,
  `barang_id` int(11) NOT NULL,
  `tipe_transaksi` enum('beli_baru','refill','jual_rusak','koreksi') NOT NULL,
  `jumlah` int(11) NOT NULL,
  `keterangan` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `barang_id` (`barang_id`),
  CONSTRAINT `gudang_transaksi_ibfk_1` FOREIGN KEY (`barang_id`) REFERENCES `barang` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gudang_transaksi`
--

LOCK TABLES `gudang_transaksi` WRITE;
/*!40000 ALTER TABLE `gudang_transaksi` DISABLE KEYS */;
INSERT INTO `gudang_transaksi` VALUES (1,'2026-05-21',1,'beli_baru',100,'Stok awal OXY 6m3','2026-05-21 08:58:12'),(2,'2026-05-21',2,'beli_baru',50,'Stok awal OXY 1m3','2026-05-21 08:58:12'),(3,'2026-05-21',3,'beli_baru',20,'Stok awal N2O','2026-05-21 08:58:12'),(4,'2026-05-21',4,'beli_baru',200,'Stok awal LPG 12kg','2026-05-21 08:58:12'),(5,'2026-05-21',5,'beli_baru',30,'Stok awal LPG 50kg','2026-05-21 08:58:12'),(6,'2026-05-21',1,'beli_baru',15,'Tabung rusak/kosong OXY 6m3','2026-05-21 08:58:12');
/*!40000 ALTER TABLE `gudang_transaksi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengiriman`
--

DROP TABLE IF EXISTS `pengiriman`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pengiriman` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tanggal` date NOT NULL,
  `relasi_id` int(11) NOT NULL,
  `barang_id` int(11) NOT NULL,
  `jumlah_masuk` int(11) DEFAULT 0,
  `jumlah_keluar` int(11) DEFAULT 0,
  `keterangan` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `relasi_id` (`relasi_id`),
  KEY `barang_id` (`barang_id`),
  CONSTRAINT `pengiriman_ibfk_1` FOREIGN KEY (`relasi_id`) REFERENCES `relasi` (`id`) ON DELETE CASCADE,
  CONSTRAINT `pengiriman_ibfk_2` FOREIGN KEY (`barang_id`) REFERENCES `barang` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengiriman`
--

LOCK TABLES `pengiriman` WRITE;
/*!40000 ALTER TABLE `pengiriman` DISABLE KEYS */;
INSERT INTO `pengiriman` VALUES (1,'2026-04-11',2,2,2,0,'Pengiriman awal Klinik','2026-05-21 08:58:12'),(2,'2026-05-21',1,1,5,2,'Kirim 5 OXY 6m3, tarik 2 kosong','2026-05-21 08:58:12'),(3,'2026-05-21',3,5,2,2,'Tukar 2 LPG 50kg','2026-05-21 08:58:12');
/*!40000 ALTER TABLE `pengiriman` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `relasi`
--

DROP TABLE IF EXISTS `relasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `relasi` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kode_relasi` varchar(50) NOT NULL,
  `nama_relasi` varchar(150) NOT NULL,
  `lokasi` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_relasi` (`kode_relasi`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `relasi`
--

LOCK TABLES `relasi` WRITE;
/*!40000 ALTER TABLE `relasi` DISABLE KEYS */;
INSERT INTO `relasi` VALUES (1,'H-J01','RSUD Jombang','Jl. KH Wahid Hasyim','2026-05-21 08:58:12'),(2,'H-S02','Klinik Sehat','Jl. Merdeka Raya','2026-05-21 08:58:12'),(3,'I-01','PT. Pabrik Tahu','Kawasan Industri','2026-05-21 08:58:12'),(4,'I-02','Warung Makan Sederhana','Jl. Sudirman','2026-05-21 08:58:12');
/*!40000 ALTER TABLE `relasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `relasi_stok_awal`
--

DROP TABLE IF EXISTS `relasi_stok_awal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `relasi_stok_awal` (
  `relasi_id` int(11) NOT NULL,
  `barang_id` int(11) NOT NULL,
  `stok_awal` int(11) DEFAULT 0,
  PRIMARY KEY (`relasi_id`,`barang_id`),
  KEY `barang_id` (`barang_id`),
  CONSTRAINT `relasi_stok_awal_ibfk_1` FOREIGN KEY (`relasi_id`) REFERENCES `relasi` (`id`) ON DELETE CASCADE,
  CONSTRAINT `relasi_stok_awal_ibfk_2` FOREIGN KEY (`barang_id`) REFERENCES `barang` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `relasi_stok_awal`
--

LOCK TABLES `relasi_stok_awal` WRITE;
/*!40000 ALTER TABLE `relasi_stok_awal` DISABLE KEYS */;
INSERT INTO `relasi_stok_awal` VALUES (1,1,10),(1,2,5),(2,2,2),(3,5,4),(4,4,8);
/*!40000 ALTER TABLE `relasi_stok_awal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stok_gudang`
--

DROP TABLE IF EXISTS `stok_gudang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stok_gudang` (
  `barang_id` int(11) NOT NULL,
  `stok_ready` int(11) DEFAULT 0,
  `stok_kosong` int(11) DEFAULT 0,
  PRIMARY KEY (`barang_id`),
  CONSTRAINT `stok_gudang_ibfk_1` FOREIGN KEY (`barang_id`) REFERENCES `barang` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stok_gudang`
--

LOCK TABLES `stok_gudang` WRITE;
/*!40000 ALTER TABLE `stok_gudang` DISABLE KEYS */;
INSERT INTO `stok_gudang` VALUES (1,95,17),(2,48,0),(3,20,0),(4,200,0),(5,28,2);
/*!40000 ALTER TABLE `stok_gudang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `nama_lengkap` varchar(100) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'admin','$2y$10$u6sgVOiJRPPcc2fXqVXKq.pMMBFCOLLwS55cADcdt99VCg9cWA4hG','Administrator Joki','2026-05-21 08:58:12');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-21 16:09:19
